.container-fireworks {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#204));
  background-image: linear-gradient(#000, #204);
  height: 600px;
  margin: 0;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.fireworks {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 10px;
  height: 10px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes fireworksTop {
  0% {
    top: 100%;
  }
  25% {
    top: var(--height);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    top: 200%;
  }
}

@keyframes fireworksTop {
  0% {
    top: 100%;
  }
  25% {
    top: var(--height);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    top: 200%;
  }
}

.fireworks:nth-child(1) {
  -webkit-animation: fireworksTop 5s 0s infinite ease-out, fireworks0 50s 0s infinite step-end;
          animation: fireworksTop 5s 0s infinite ease-out, fireworks0 50s 0s infinite step-end;
}

@-webkit-keyframes fireworks0 {
  0% {
    left: 66%;
    -webkit-transform: translateX(-50%) scale(0.54);
            transform: translateX(-50%) scale(0.54);
    --hue: 0;
    --height: 19%;
  }
  10% {
    left: 32%;
    -webkit-transform: translateX(-50%) scale(0.71);
            transform: translateX(-50%) scale(0.71);
    --hue: 36;
    --height: 25%;
  }
  20% {
    left: 63%;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
    --hue: 72;
    --height: 28%;
  }
  30% {
    left: 41%;
    -webkit-transform: translateX(-50%) scale(0.91);
            transform: translateX(-50%) scale(0.91);
    --hue: 108;
    --height: 28%;
  }
  40% {
    left: 68%;
    -webkit-transform: translateX(-50%) scale(0.84);
            transform: translateX(-50%) scale(0.84);
    --hue: 144;
    --height: 24%;
  }
  50% {
    left: 60%;
    -webkit-transform: translateX(-50%) scale(0.87);
            transform: translateX(-50%) scale(0.87);
    --hue: 180;
    --height: 17%;
  }
  60% {
    left: 34%;
    -webkit-transform: translateX(-50%) scale(0.8);
            transform: translateX(-50%) scale(0.8);
    --hue: 216;
    --height: 40%;
  }
  70% {
    left: 67%;
    -webkit-transform: translateX(-50%) scale(0.51);
            transform: translateX(-50%) scale(0.51);
    --hue: 252;
    --height: 38%;
  }
  80% {
    left: 25%;
    -webkit-transform: translateX(-50%) scale(0.76);
            transform: translateX(-50%) scale(0.76);
    --hue: 288;
    --height: 27%;
  }
  90% {
    left: 80%;
    -webkit-transform: translateX(-50%) scale(0.84);
            transform: translateX(-50%) scale(0.84);
    --hue: 324;
    --height: 25%;
  }
}

@keyframes fireworks0 {
  0% {
    left: 66%;
    -webkit-transform: translateX(-50%) scale(0.54);
            transform: translateX(-50%) scale(0.54);
    --hue: 0;
    --height: 19%;
  }
  10% {
    left: 32%;
    -webkit-transform: translateX(-50%) scale(0.71);
            transform: translateX(-50%) scale(0.71);
    --hue: 36;
    --height: 25%;
  }
  20% {
    left: 63%;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
    --hue: 72;
    --height: 28%;
  }
  30% {
    left: 41%;
    -webkit-transform: translateX(-50%) scale(0.91);
            transform: translateX(-50%) scale(0.91);
    --hue: 108;
    --height: 28%;
  }
  40% {
    left: 68%;
    -webkit-transform: translateX(-50%) scale(0.84);
            transform: translateX(-50%) scale(0.84);
    --hue: 144;
    --height: 24%;
  }
  50% {
    left: 60%;
    -webkit-transform: translateX(-50%) scale(0.87);
            transform: translateX(-50%) scale(0.87);
    --hue: 180;
    --height: 17%;
  }
  60% {
    left: 34%;
    -webkit-transform: translateX(-50%) scale(0.8);
            transform: translateX(-50%) scale(0.8);
    --hue: 216;
    --height: 40%;
  }
  70% {
    left: 67%;
    -webkit-transform: translateX(-50%) scale(0.51);
            transform: translateX(-50%) scale(0.51);
    --hue: 252;
    --height: 38%;
  }
  80% {
    left: 25%;
    -webkit-transform: translateX(-50%) scale(0.76);
            transform: translateX(-50%) scale(0.76);
    --hue: 288;
    --height: 27%;
  }
  90% {
    left: 80%;
    -webkit-transform: translateX(-50%) scale(0.84);
            transform: translateX(-50%) scale(0.84);
    --hue: 324;
    --height: 25%;
  }
}

.fireworks:nth-child(1) > .year {
  background-color: hsl(calc(var(--hue) + 0), 100%, 75%);
}

.fireworks:nth-child(1) > .year:nth-child(1) {
  --t: translateX(-120px) translateY(-580px) translateZ(390px) rotateX(597deg) rotateY(140deg) rotateZ(270deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(2) {
  --t: translateX(-440px) translateY(-350px) translateZ(-380px) rotateX(236deg) rotateY(574deg) rotateZ(720deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(3) {
  --t: translateX(160px) translateY(-530px) translateZ(-210px) rotateX(666deg) rotateY(287deg) rotateZ(668deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(4) {
  --t: translateX(160px) translateY(-580px) translateZ(-10px) rotateX(638deg) rotateY(122deg) rotateZ(623deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(5) {
  --t: translateX(-150px) translateY(-620px) translateZ(100px) rotateX(681deg) rotateY(382deg) rotateZ(465deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(6) {
  --t: translateX(240px) translateY(-630px) translateZ(-350px) rotateX(581deg) rotateY(221deg) rotateZ(558deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(7) {
  --t: translateX(-250px) translateY(-260px) translateZ(490px) rotateX(351deg) rotateY(272deg) rotateZ(472deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(8) {
  --t: translateX(-360px) translateY(-700px) translateZ(90px) rotateX(537deg) rotateY(272deg) rotateZ(608deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(9) {
  --t: translateX(90px) translateY(-680px) translateZ(-260px) rotateX(116deg) rotateY(561deg) rotateZ(548deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(10) {
  --t: translateX(-340px) translateY(-570px) translateZ(-270px) rotateX(164deg) rotateY(182deg) rotateZ(107deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(11) {
  --t: translateX(150px) translateY(-710px) translateZ(-490px) rotateX(694deg) rotateY(327deg) rotateZ(666deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(12) {
  --t: translateX(250px) translateY(-620px) translateZ(-40px) rotateX(194deg) rotateY(650deg) rotateZ(562deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(13) {
  --t: translateX(110px) translateY(-360px) translateZ(-410px) rotateX(179deg) rotateY(717deg) rotateZ(158deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(14) {
  --t: translateX(-390px) translateY(-370px) translateZ(20px) rotateX(632deg) rotateY(9deg) rotateZ(55deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(15) {
  --t: translateX(-290px) translateY(-660px) translateZ(210px) rotateX(629deg) rotateY(426deg) rotateZ(331deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(16) {
  --t: translateX(300px) translateY(-450px) translateZ(-350px) rotateX(520deg) rotateY(169deg) rotateZ(248deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(17) {
  --t: translateX(0px) translateY(-660px) translateZ(60px) rotateX(492deg) rotateY(339deg) rotateZ(223deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(18) {
  --t: translateX(290px) translateY(-450px) translateZ(150px) rotateX(528deg) rotateY(136deg) rotateZ(135deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(19) {
  --t: translateX(-30px) translateY(-380px) translateZ(-480px) rotateX(604deg) rotateY(679deg) rotateZ(285deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(20) {
  --t: translateX(410px) translateY(-320px) translateZ(-90px) rotateX(574deg) rotateY(167deg) rotateZ(476deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(21) {
  --t: translateX(150px) translateY(-510px) translateZ(-410px) rotateX(91deg) rotateY(485deg) rotateZ(25deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(22) {
  --t: translateX(-150px) translateY(-610px) translateZ(-110px) rotateX(32deg) rotateY(254deg) rotateZ(426deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(23) {
  --t: translateX(270px) translateY(-740px) translateZ(370px) rotateX(692deg) rotateY(556deg) rotateZ(667deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(24) {
  --t: translateX(-60px) translateY(-370px) translateZ(-170px) rotateX(654deg) rotateY(287deg) rotateZ(269deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(25) {
  --t: translateX(-40px) translateY(-670px) translateZ(280px) rotateX(239deg) rotateY(648deg) rotateZ(650deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(26) {
  --t: translateX(370px) translateY(-580px) translateZ(-220px) rotateX(687deg) rotateY(361deg) rotateZ(565deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(27) {
  --t: translateX(50px) translateY(-630px) translateZ(100px) rotateX(405deg) rotateY(638deg) rotateZ(364deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(28) {
  --t: translateX(-40px) translateY(-330px) translateZ(400px) rotateX(451deg) rotateY(107deg) rotateZ(134deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(29) {
  --t: translateX(-290px) translateY(-460px) translateZ(280px) rotateX(325deg) rotateY(221deg) rotateZ(221deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(30) {
  --t: translateX(-390px) translateY(-640px) translateZ(20px) rotateX(659deg) rotateY(692deg) rotateZ(628deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(31) {
  --t: translateX(-210px) translateY(-670px) translateZ(-340px) rotateX(647deg) rotateY(167deg) rotateZ(400deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(32) {
  --t: translateX(-420px) translateY(-260px) translateZ(440px) rotateX(549deg) rotateY(26deg) rotateZ(653deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(33) {
  --t: translateX(40px) translateY(-720px) translateZ(20px) rotateX(133deg) rotateY(383deg) rotateZ(506deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(34) {
  --t: translateX(-50px) translateY(-300px) translateZ(310px) rotateX(568deg) rotateY(220deg) rotateZ(48deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(35) {
  --t: translateX(40px) translateY(-350px) translateZ(120px) rotateX(388deg) rotateY(660deg) rotateZ(9deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(36) {
  --t: translateX(-150px) translateY(-530px) translateZ(-270px) rotateX(555deg) rotateY(614deg) rotateZ(651deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(37) {
  --t: translateX(-340px) translateY(-530px) translateZ(-230px) rotateX(702deg) rotateY(672deg) rotateZ(92deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(38) {
  --t: translateX(-10px) translateY(-480px) translateZ(340px) rotateX(449deg) rotateY(522deg) rotateZ(550deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(39) {
  --t: translateX(330px) translateY(-490px) translateZ(260px) rotateX(581deg) rotateY(470deg) rotateZ(507deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(40) {
  --t: translateX(240px) translateY(-350px) translateZ(440px) rotateX(352deg) rotateY(93deg) rotateZ(168deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(41) {
  --t: translateX(180px) translateY(-650px) translateZ(-430px) rotateX(557deg) rotateY(82deg) rotateZ(553deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(42) {
  --t: translateX(440px) translateY(-320px) translateZ(-130px) rotateX(321deg) rotateY(167deg) rotateZ(138deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(43) {
  --t: translateX(-80px) translateY(-430px) translateZ(-300px) rotateX(451deg) rotateY(1deg) rotateZ(405deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(44) {
  --t: translateX(240px) translateY(-340px) translateZ(380px) rotateX(711deg) rotateY(38deg) rotateZ(284deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(45) {
  --t: translateX(90px) translateY(-590px) translateZ(-160px) rotateX(585deg) rotateY(492deg) rotateZ(649deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(46) {
  --t: translateX(-370px) translateY(-490px) translateZ(190px) rotateX(250deg) rotateY(104deg) rotateZ(611deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(47) {
  --t: translateX(400px) translateY(-400px) translateZ(270px) rotateX(246deg) rotateY(505deg) rotateZ(30deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(48) {
  --t: translateX(210px) translateY(-440px) translateZ(-440px) rotateX(226deg) rotateY(38deg) rotateZ(432deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(49) {
  --t: translateX(-70px) translateY(-580px) translateZ(-300px) rotateX(136deg) rotateY(139deg) rotateZ(71deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(50) {
  --t: translateX(270px) translateY(-650px) translateZ(0px) rotateX(605deg) rotateY(589deg) rotateZ(198deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(51) {
  --t: translateX(-470px) translateY(-390px) translateZ(-480px) rotateX(403deg) rotateY(644deg) rotateZ(331deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(52) {
  --t: translateX(320px) translateY(-250px) translateZ(270px) rotateX(98deg) rotateY(613deg) rotateZ(198deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(53) {
  --t: translateX(350px) translateY(-710px) translateZ(-380px) rotateX(687deg) rotateY(522deg) rotateZ(294deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(54) {
  --t: translateX(60px) translateY(-720px) translateZ(230px) rotateX(567deg) rotateY(380deg) rotateZ(308deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(55) {
  --t: translateX(-450px) translateY(-460px) translateZ(270px) rotateX(581deg) rotateY(265deg) rotateZ(483deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(56) {
  --t: translateX(400px) translateY(-250px) translateZ(-60px) rotateX(267deg) rotateY(163deg) rotateZ(520deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(57) {
  --t: translateX(20px) translateY(-430px) translateZ(200px) rotateX(637deg) rotateY(370deg) rotateZ(473deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(58) {
  --t: translateX(-80px) translateY(-400px) translateZ(-290px) rotateX(682deg) rotateY(508deg) rotateZ(212deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(59) {
  --t: translateX(-40px) translateY(-560px) translateZ(-410px) rotateX(43deg) rotateY(371deg) rotateZ(95deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(60) {
  --t: translateX(0px) translateY(-260px) translateZ(-480px) rotateX(417deg) rotateY(605deg) rotateZ(314deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(61) {
  --t: translateX(190px) translateY(-530px) translateZ(-450px) rotateX(536deg) rotateY(32deg) rotateZ(546deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(62) {
  --t: translateX(380px) translateY(-430px) translateZ(-190px) rotateX(302deg) rotateY(639deg) rotateZ(636deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(63) {
  --t: translateX(-70px) translateY(-730px) translateZ(-110px) rotateX(554deg) rotateY(52deg) rotateZ(182deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(64) {
  --t: translateX(390px) translateY(-510px) translateZ(180px) rotateX(188deg) rotateY(15deg) rotateZ(650deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(65) {
  --t: translateX(480px) translateY(-390px) translateZ(-180px) rotateX(52deg) rotateY(326deg) rotateZ(11deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(66) {
  --t: translateX(-50px) translateY(-530px) translateZ(0px) rotateX(694deg) rotateY(302deg) rotateZ(642deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(67) {
  --t: translateX(410px) translateY(-310px) translateZ(240px) rotateX(163deg) rotateY(482deg) rotateZ(544deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(68) {
  --t: translateX(-300px) translateY(-640px) translateZ(240px) rotateX(8deg) rotateY(174deg) rotateZ(130deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(69) {
  --t: translateX(440px) translateY(-290px) translateZ(0px) rotateX(349deg) rotateY(180deg) rotateZ(615deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(70) {
  --t: translateX(-210px) translateY(-600px) translateZ(50px) rotateX(78deg) rotateY(676deg) rotateZ(243deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(71) {
  --t: translateX(-270px) translateY(-260px) translateZ(190px) rotateX(595deg) rotateY(85deg) rotateZ(247deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(72) {
  --t: translateX(100px) translateY(-550px) translateZ(380px) rotateX(354deg) rotateY(665deg) rotateZ(157deg) scale(0);
}

.fireworks:nth-child(1) > .year:nth-child(73) {
  --t: translateX(-80px) translateY(-520px) translateZ(160px) rotateX(178deg) rotateY(635deg) rotateZ(617deg) scale(0);
}

.fireworks:nth-child(2) {
  -webkit-animation: fireworksTop 5s 1.66667s infinite ease-out, fireworks1 50s 1.66667s infinite step-end;
          animation: fireworksTop 5s 1.66667s infinite ease-out, fireworks1 50s 1.66667s infinite step-end;
}

@-webkit-keyframes fireworks1 {
  0% {
    left: 66%;
    -webkit-transform: translateX(-50%) scale(0.53);
            transform: translateX(-50%) scale(0.53);
    --hue: 0;
    --height: 28%;
  }
  10% {
    left: 65%;
    -webkit-transform: translateX(-50%) scale(0.91);
            transform: translateX(-50%) scale(0.91);
    --hue: 36;
    --height: 20%;
  }
  20% {
    left: 40%;
    -webkit-transform: translateX(-50%) scale(0.95);
            transform: translateX(-50%) scale(0.95);
    --hue: 72;
    --height: 38%;
  }
  30% {
    left: 35%;
    -webkit-transform: translateX(-50%) scale(0.55);
            transform: translateX(-50%) scale(0.55);
    --hue: 108;
    --height: 38%;
  }
  40% {
    left: 26%;
    -webkit-transform: translateX(-50%) scale(0.72);
            transform: translateX(-50%) scale(0.72);
    --hue: 144;
    --height: 28%;
  }
  50% {
    left: 24%;
    -webkit-transform: translateX(-50%) scale(0.95);
            transform: translateX(-50%) scale(0.95);
    --hue: 180;
    --height: 35%;
  }
  60% {
    left: 52%;
    -webkit-transform: translateX(-50%) scale(0.96);
            transform: translateX(-50%) scale(0.96);
    --hue: 216;
    --height: 31%;
  }
  70% {
    left: 48%;
    -webkit-transform: translateX(-50%) scale(0.88);
            transform: translateX(-50%) scale(0.88);
    --hue: 252;
    --height: 33%;
  }
  80% {
    left: 36%;
    -webkit-transform: translateX(-50%) scale(0.9);
            transform: translateX(-50%) scale(0.9);
    --hue: 288;
    --height: 22%;
  }
  90% {
    left: 57%;
    -webkit-transform: translateX(-50%) scale(0.58);
            transform: translateX(-50%) scale(0.58);
    --hue: 324;
    --height: 17%;
  }
}

@keyframes fireworks1 {
  0% {
    left: 66%;
    -webkit-transform: translateX(-50%) scale(0.53);
            transform: translateX(-50%) scale(0.53);
    --hue: 0;
    --height: 28%;
  }
  10% {
    left: 65%;
    -webkit-transform: translateX(-50%) scale(0.91);
            transform: translateX(-50%) scale(0.91);
    --hue: 36;
    --height: 20%;
  }
  20% {
    left: 40%;
    -webkit-transform: translateX(-50%) scale(0.95);
            transform: translateX(-50%) scale(0.95);
    --hue: 72;
    --height: 38%;
  }
  30% {
    left: 35%;
    -webkit-transform: translateX(-50%) scale(0.55);
            transform: translateX(-50%) scale(0.55);
    --hue: 108;
    --height: 38%;
  }
  40% {
    left: 26%;
    -webkit-transform: translateX(-50%) scale(0.72);
            transform: translateX(-50%) scale(0.72);
    --hue: 144;
    --height: 28%;
  }
  50% {
    left: 24%;
    -webkit-transform: translateX(-50%) scale(0.95);
            transform: translateX(-50%) scale(0.95);
    --hue: 180;
    --height: 35%;
  }
  60% {
    left: 52%;
    -webkit-transform: translateX(-50%) scale(0.96);
            transform: translateX(-50%) scale(0.96);
    --hue: 216;
    --height: 31%;
  }
  70% {
    left: 48%;
    -webkit-transform: translateX(-50%) scale(0.88);
            transform: translateX(-50%) scale(0.88);
    --hue: 252;
    --height: 33%;
  }
  80% {
    left: 36%;
    -webkit-transform: translateX(-50%) scale(0.9);
            transform: translateX(-50%) scale(0.9);
    --hue: 288;
    --height: 22%;
  }
  90% {
    left: 57%;
    -webkit-transform: translateX(-50%) scale(0.58);
            transform: translateX(-50%) scale(0.58);
    --hue: 324;
    --height: 17%;
  }
}

.fireworks:nth-child(2) > .year {
  background-color: hsl(calc(var(--hue) + 120), 100%, 75%);
}

.fireworks:nth-child(2) > .year:nth-child(1) {
  --t: translateX(-350px) translateY(-710px) translateZ(80px) rotateX(16deg) rotateY(370deg) rotateZ(6deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(2) {
  --t: translateX(-230px) translateY(-650px) translateZ(300px) rotateX(408deg) rotateY(461deg) rotateZ(418deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(3) {
  --t: translateX(-20px) translateY(-480px) translateZ(-170px) rotateX(544deg) rotateY(516deg) rotateZ(3deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(4) {
  --t: translateX(-170px) translateY(-740px) translateZ(-220px) rotateX(95deg) rotateY(694deg) rotateZ(507deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(5) {
  --t: translateX(-40px) translateY(-550px) translateZ(-480px) rotateX(369deg) rotateY(394deg) rotateZ(421deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(6) {
  --t: translateX(-10px) translateY(-580px) translateZ(-320px) rotateX(591deg) rotateY(490deg) rotateZ(602deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(7) {
  --t: translateX(350px) translateY(-650px) translateZ(-70px) rotateX(104deg) rotateY(75deg) rotateZ(657deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(8) {
  --t: translateX(220px) translateY(-270px) translateZ(-320px) rotateX(531deg) rotateY(471deg) rotateZ(719deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(9) {
  --t: translateX(250px) translateY(-580px) translateZ(80px) rotateX(499deg) rotateY(624deg) rotateZ(684deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(10) {
  --t: translateX(290px) translateY(-340px) translateZ(-200px) rotateX(516deg) rotateY(286deg) rotateZ(520deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(11) {
  --t: translateX(270px) translateY(-410px) translateZ(180px) rotateX(538deg) rotateY(434deg) rotateZ(574deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(12) {
  --t: translateX(-140px) translateY(-540px) translateZ(260px) rotateX(167deg) rotateY(181deg) rotateZ(165deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(13) {
  --t: translateX(180px) translateY(-590px) translateZ(490px) rotateX(520deg) rotateY(128deg) rotateZ(161deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(14) {
  --t: translateX(-330px) translateY(-270px) translateZ(-430px) rotateX(699deg) rotateY(303deg) rotateZ(702deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(15) {
  --t: translateX(20px) translateY(-660px) translateZ(-390px) rotateX(283deg) rotateY(377deg) rotateZ(217deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(16) {
  --t: translateX(-280px) translateY(-740px) translateZ(210px) rotateX(581deg) rotateY(400deg) rotateZ(159deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(17) {
  --t: translateX(130px) translateY(-420px) translateZ(100px) rotateX(704deg) rotateY(343deg) rotateZ(490deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(18) {
  --t: translateX(-260px) translateY(-480px) translateZ(470px) rotateX(517deg) rotateY(658deg) rotateZ(279deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(19) {
  --t: translateX(480px) translateY(-490px) translateZ(90px) rotateX(652deg) rotateY(474deg) rotateZ(120deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(20) {
  --t: translateX(-20px) translateY(-510px) translateZ(-430px) rotateX(289deg) rotateY(301deg) rotateZ(8deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(21) {
  --t: translateX(-260px) translateY(-590px) translateZ(270px) rotateX(266deg) rotateY(653deg) rotateZ(431deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(22) {
  --t: translateX(180px) translateY(-730px) translateZ(390px) rotateX(175deg) rotateY(605deg) rotateZ(544deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(23) {
  --t: translateX(20px) translateY(-670px) translateZ(450px) rotateX(330deg) rotateY(557deg) rotateZ(410deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(24) {
  --t: translateX(-130px) translateY(-410px) translateZ(-190px) rotateX(37deg) rotateY(596deg) rotateZ(703deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(25) {
  --t: translateX(180px) translateY(-310px) translateZ(150px) rotateX(434deg) rotateY(63deg) rotateZ(203deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(26) {
  --t: translateX(-70px) translateY(-570px) translateZ(310px) rotateX(167deg) rotateY(480deg) rotateZ(543deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(27) {
  --t: translateX(-230px) translateY(-500px) translateZ(10px) rotateX(555deg) rotateY(652deg) rotateZ(457deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(28) {
  --t: translateX(160px) translateY(-320px) translateZ(-80px) rotateX(185deg) rotateY(34deg) rotateZ(533deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(29) {
  --t: translateX(480px) translateY(-430px) translateZ(-260px) rotateX(22deg) rotateY(616deg) rotateZ(322deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(30) {
  --t: translateX(-250px) translateY(-320px) translateZ(360px) rotateX(466deg) rotateY(479deg) rotateZ(141deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(31) {
  --t: translateX(-400px) translateY(-500px) translateZ(-350px) rotateX(602deg) rotateY(405deg) rotateZ(314deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(32) {
  --t: translateX(-340px) translateY(-470px) translateZ(-400px) rotateX(74deg) rotateY(706deg) rotateZ(222deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(33) {
  --t: translateX(-280px) translateY(-660px) translateZ(-360px) rotateX(452deg) rotateY(456deg) rotateZ(477deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(34) {
  --t: translateX(340px) translateY(-430px) translateZ(460px) rotateX(116deg) rotateY(513deg) rotateZ(532deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(35) {
  --t: translateX(270px) translateY(-350px) translateZ(280px) rotateX(21deg) rotateY(283deg) rotateZ(274deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(36) {
  --t: translateX(-390px) translateY(-570px) translateZ(-430px) rotateX(464deg) rotateY(446deg) rotateZ(182deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(37) {
  --t: translateX(100px) translateY(-500px) translateZ(470px) rotateX(608deg) rotateY(581deg) rotateZ(351deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(38) {
  --t: translateX(160px) translateY(-270px) translateZ(-230px) rotateX(490deg) rotateY(423deg) rotateZ(276deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(39) {
  --t: translateX(-150px) translateY(-530px) translateZ(-30px) rotateX(266deg) rotateY(631deg) rotateZ(331deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(40) {
  --t: translateX(-170px) translateY(-540px) translateZ(-190px) rotateX(260deg) rotateY(503deg) rotateZ(53deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(41) {
  --t: translateX(-10px) translateY(-340px) translateZ(410px) rotateX(62deg) rotateY(53deg) rotateZ(590deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(42) {
  --t: translateX(240px) translateY(-260px) translateZ(210px) rotateX(490deg) rotateY(660deg) rotateZ(476deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(43) {
  --t: translateX(450px) translateY(-390px) translateZ(330px) rotateX(626deg) rotateY(524deg) rotateZ(351deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(44) {
  --t: translateX(-150px) translateY(-630px) translateZ(130px) rotateX(488deg) rotateY(497deg) rotateZ(345deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(45) {
  --t: translateX(-190px) translateY(-730px) translateZ(100px) rotateX(430deg) rotateY(451deg) rotateZ(301deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(46) {
  --t: translateX(-480px) translateY(-380px) translateZ(-360px) rotateX(567deg) rotateY(67deg) rotateZ(681deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(47) {
  --t: translateX(-460px) translateY(-600px) translateZ(320px) rotateX(512deg) rotateY(684deg) rotateZ(568deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(48) {
  --t: translateX(280px) translateY(-710px) translateZ(130px) rotateX(74deg) rotateY(399deg) rotateZ(48deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(49) {
  --t: translateX(-120px) translateY(-690px) translateZ(-270px) rotateX(185deg) rotateY(665deg) rotateZ(154deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(50) {
  --t: translateX(-260px) translateY(-470px) translateZ(-430px) rotateX(46deg) rotateY(376deg) rotateZ(106deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(51) {
  --t: translateX(80px) translateY(-270px) translateZ(400px) rotateX(465deg) rotateY(202deg) rotateZ(476deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(52) {
  --t: translateX(290px) translateY(-370px) translateZ(20px) rotateX(130deg) rotateY(140deg) rotateZ(251deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(53) {
  --t: translateX(-40px) translateY(-740px) translateZ(420px) rotateX(207deg) rotateY(338deg) rotateZ(2deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(54) {
  --t: translateX(-320px) translateY(-340px) translateZ(-90px) rotateX(698deg) rotateY(505deg) rotateZ(267deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(55) {
  --t: translateX(-460px) translateY(-660px) translateZ(-160px) rotateX(501deg) rotateY(303deg) rotateZ(720deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(56) {
  --t: translateX(-390px) translateY(-430px) translateZ(-260px) rotateX(207deg) rotateY(580deg) rotateZ(184deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(57) {
  --t: translateX(-70px) translateY(-490px) translateZ(-190px) rotateX(128deg) rotateY(252deg) rotateZ(56deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(58) {
  --t: translateX(-70px) translateY(-250px) translateZ(320px) rotateX(14deg) rotateY(337deg) rotateZ(333deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(59) {
  --t: translateX(-100px) translateY(-390px) translateZ(-480px) rotateX(139deg) rotateY(208deg) rotateZ(104deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(60) {
  --t: translateX(290px) translateY(-590px) translateZ(-120px) rotateX(631deg) rotateY(408deg) rotateZ(370deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(61) {
  --t: translateX(150px) translateY(-460px) translateZ(-110px) rotateX(165deg) rotateY(646deg) rotateZ(385deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(62) {
  --t: translateX(-280px) translateY(-400px) translateZ(-400px) rotateX(411deg) rotateY(446deg) rotateZ(482deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(63) {
  --t: translateX(400px) translateY(-380px) translateZ(80px) rotateX(335deg) rotateY(37deg) rotateZ(104deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(64) {
  --t: translateX(-200px) translateY(-620px) translateZ(-480px) rotateX(603deg) rotateY(453deg) rotateZ(505deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(65) {
  --t: translateX(110px) translateY(-690px) translateZ(-390px) rotateX(25deg) rotateY(134deg) rotateZ(125deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(66) {
  --t: translateX(-290px) translateY(-540px) translateZ(440px) rotateX(393deg) rotateY(88deg) rotateZ(578deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(67) {
  --t: translateX(-480px) translateY(-480px) translateZ(310px) rotateX(228deg) rotateY(476deg) rotateZ(356deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(68) {
  --t: translateX(-480px) translateY(-680px) translateZ(410px) rotateX(533deg) rotateY(527deg) rotateZ(641deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(69) {
  --t: translateX(70px) translateY(-620px) translateZ(110px) rotateX(33deg) rotateY(17deg) rotateZ(587deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(70) {
  --t: translateX(80px) translateY(-530px) translateZ(-470px) rotateX(196deg) rotateY(286deg) rotateZ(414deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(71) {
  --t: translateX(350px) translateY(-280px) translateZ(0px) rotateX(132deg) rotateY(136deg) rotateZ(192deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(72) {
  --t: translateX(-200px) translateY(-270px) translateZ(130px) rotateX(140deg) rotateY(210deg) rotateZ(403deg) scale(0);
}

.fireworks:nth-child(2) > .year:nth-child(73) {
  --t: translateX(420px) translateY(-480px) translateZ(-300px) rotateX(192deg) rotateY(219deg) rotateZ(224deg) scale(0);
}

.fireworks:nth-child(3) {
  -webkit-animation: fireworksTop 5s 3.33333s infinite ease-out, fireworks2 50s 3.33333s infinite step-end;
          animation: fireworksTop 5s 3.33333s infinite ease-out, fireworks2 50s 3.33333s infinite step-end;
}

@-webkit-keyframes fireworks2 {
  0% {
    left: 54%;
    -webkit-transform: translateX(-50%) scale(0.59);
            transform: translateX(-50%) scale(0.59);
    --hue: 0;
    --height: 34%;
  }
  10% {
    left: 36%;
    -webkit-transform: translateX(-50%) scale(0.65);
            transform: translateX(-50%) scale(0.65);
    --hue: 36;
    --height: 24%;
  }
  20% {
    left: 22%;
    -webkit-transform: translateX(-50%) scale(0.91);
            transform: translateX(-50%) scale(0.91);
    --hue: 72;
    --height: 24%;
  }
  30% {
    left: 35%;
    -webkit-transform: translateX(-50%) scale(0.81);
            transform: translateX(-50%) scale(0.81);
    --hue: 108;
    --height: 39%;
  }
  40% {
    left: 58%;
    -webkit-transform: translateX(-50%) scale(0.65);
            transform: translateX(-50%) scale(0.65);
    --hue: 144;
    --height: 18%;
  }
  50% {
    left: 41%;
    -webkit-transform: translateX(-50%) scale(0.96);
            transform: translateX(-50%) scale(0.96);
    --hue: 180;
    --height: 26%;
  }
  60% {
    left: 46%;
    -webkit-transform: translateX(-50%) scale(0.74);
            transform: translateX(-50%) scale(0.74);
    --hue: 216;
    --height: 21%;
  }
  70% {
    left: 80%;
    -webkit-transform: translateX(-50%) scale(0.95);
            transform: translateX(-50%) scale(0.95);
    --hue: 252;
    --height: 25%;
  }
  80% {
    left: 51%;
    -webkit-transform: translateX(-50%) scale(0.79);
            transform: translateX(-50%) scale(0.79);
    --hue: 288;
    --height: 16%;
  }
  90% {
    left: 64%;
    -webkit-transform: translateX(-50%) scale(0.94);
            transform: translateX(-50%) scale(0.94);
    --hue: 324;
    --height: 19%;
  }
}

@keyframes fireworks2 {
  0% {
    left: 54%;
    -webkit-transform: translateX(-50%) scale(0.59);
            transform: translateX(-50%) scale(0.59);
    --hue: 0;
    --height: 34%;
  }
  10% {
    left: 36%;
    -webkit-transform: translateX(-50%) scale(0.65);
            transform: translateX(-50%) scale(0.65);
    --hue: 36;
    --height: 24%;
  }
  20% {
    left: 22%;
    -webkit-transform: translateX(-50%) scale(0.91);
            transform: translateX(-50%) scale(0.91);
    --hue: 72;
    --height: 24%;
  }
  30% {
    left: 35%;
    -webkit-transform: translateX(-50%) scale(0.81);
            transform: translateX(-50%) scale(0.81);
    --hue: 108;
    --height: 39%;
  }
  40% {
    left: 58%;
    -webkit-transform: translateX(-50%) scale(0.65);
            transform: translateX(-50%) scale(0.65);
    --hue: 144;
    --height: 18%;
  }
  50% {
    left: 41%;
    -webkit-transform: translateX(-50%) scale(0.96);
            transform: translateX(-50%) scale(0.96);
    --hue: 180;
    --height: 26%;
  }
  60% {
    left: 46%;
    -webkit-transform: translateX(-50%) scale(0.74);
            transform: translateX(-50%) scale(0.74);
    --hue: 216;
    --height: 21%;
  }
  70% {
    left: 80%;
    -webkit-transform: translateX(-50%) scale(0.95);
            transform: translateX(-50%) scale(0.95);
    --hue: 252;
    --height: 25%;
  }
  80% {
    left: 51%;
    -webkit-transform: translateX(-50%) scale(0.79);
            transform: translateX(-50%) scale(0.79);
    --hue: 288;
    --height: 16%;
  }
  90% {
    left: 64%;
    -webkit-transform: translateX(-50%) scale(0.94);
            transform: translateX(-50%) scale(0.94);
    --hue: 324;
    --height: 19%;
  }
}

.fireworks:nth-child(3) > .year {
  background-color: hsl(calc(var(--hue) + 240), 100%, 75%);
}

.fireworks:nth-child(3) > .year:nth-child(1) {
  --t: translateX(-410px) translateY(-440px) translateZ(-200px) rotateX(537deg) rotateY(226deg) rotateZ(152deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(2) {
  --t: translateX(-80px) translateY(-250px) translateZ(-450px) rotateX(144deg) rotateY(49deg) rotateZ(423deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(3) {
  --t: translateX(-90px) translateY(-740px) translateZ(40px) rotateX(480deg) rotateY(697deg) rotateZ(387deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(4) {
  --t: translateX(-30px) translateY(-720px) translateZ(220px) rotateX(319deg) rotateY(56deg) rotateZ(364deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(5) {
  --t: translateX(-330px) translateY(-570px) translateZ(10px) rotateX(277deg) rotateY(72deg) rotateZ(518deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(6) {
  --t: translateX(40px) translateY(-480px) translateZ(100px) rotateX(671deg) rotateY(661deg) rotateZ(98deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(7) {
  --t: translateX(-340px) translateY(-560px) translateZ(110px) rotateX(169deg) rotateY(386deg) rotateZ(97deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(8) {
  --t: translateX(220px) translateY(-410px) translateZ(360px) rotateX(27deg) rotateY(431deg) rotateZ(74deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(9) {
  --t: translateX(-340px) translateY(-720px) translateZ(110px) rotateX(255deg) rotateY(376deg) rotateZ(350deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(10) {
  --t: translateX(320px) translateY(-390px) translateZ(170px) rotateX(73deg) rotateY(701deg) rotateZ(212deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(11) {
  --t: translateX(-470px) translateY(-250px) translateZ(150px) rotateX(103deg) rotateY(631deg) rotateZ(593deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(12) {
  --t: translateX(290px) translateY(-710px) translateZ(430px) rotateX(53deg) rotateY(239deg) rotateZ(680deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(13) {
  --t: translateX(-210px) translateY(-360px) translateZ(-450px) rotateX(574deg) rotateY(411deg) rotateZ(310deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(14) {
  --t: translateX(-230px) translateY(-330px) translateZ(-380px) rotateX(202deg) rotateY(460deg) rotateZ(506deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(15) {
  --t: translateX(240px) translateY(-260px) translateZ(-90px) rotateX(606deg) rotateY(276deg) rotateZ(613deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(16) {
  --t: translateX(-210px) translateY(-680px) translateZ(420px) rotateX(480deg) rotateY(543deg) rotateZ(407deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(17) {
  --t: translateX(180px) translateY(-680px) translateZ(-10px) rotateX(415deg) rotateY(116deg) rotateZ(45deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(18) {
  --t: translateX(50px) translateY(-420px) translateZ(-140px) rotateX(514deg) rotateY(693deg) rotateZ(652deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(19) {
  --t: translateX(-50px) translateY(-410px) translateZ(270px) rotateX(451deg) rotateY(213deg) rotateZ(697deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(20) {
  --t: translateX(-180px) translateY(-600px) translateZ(-270px) rotateX(661deg) rotateY(675deg) rotateZ(677deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(21) {
  --t: translateX(50px) translateY(-610px) translateZ(230px) rotateX(217deg) rotateY(483deg) rotateZ(176deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(22) {
  --t: translateX(430px) translateY(-340px) translateZ(-20px) rotateX(241deg) rotateY(720deg) rotateZ(250deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(23) {
  --t: translateX(70px) translateY(-550px) translateZ(-10px) rotateX(276deg) rotateY(427deg) rotateZ(53deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(24) {
  --t: translateX(-460px) translateY(-470px) translateZ(-150px) rotateX(143deg) rotateY(592deg) rotateZ(437deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(25) {
  --t: translateX(300px) translateY(-290px) translateZ(80px) rotateX(694deg) rotateY(457deg) rotateZ(188deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(26) {
  --t: translateX(180px) translateY(-380px) translateZ(400px) rotateX(372deg) rotateY(494deg) rotateZ(450deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(27) {
  --t: translateX(-130px) translateY(-600px) translateZ(240px) rotateX(598deg) rotateY(295deg) rotateZ(54deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(28) {
  --t: translateX(180px) translateY(-430px) translateZ(230px) rotateX(225deg) rotateY(146deg) rotateZ(463deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(29) {
  --t: translateX(-140px) translateY(-370px) translateZ(-430px) rotateX(268deg) rotateY(266deg) rotateZ(472deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(30) {
  --t: translateX(480px) translateY(-610px) translateZ(-440px) rotateX(393deg) rotateY(166deg) rotateZ(452deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(31) {
  --t: translateX(-220px) translateY(-620px) translateZ(-410px) rotateX(289deg) rotateY(579deg) rotateZ(14deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(32) {
  --t: translateX(440px) translateY(-370px) translateZ(210px) rotateX(562deg) rotateY(658deg) rotateZ(527deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(33) {
  --t: translateX(410px) translateY(-700px) translateZ(-360px) rotateX(497deg) rotateY(189deg) rotateZ(12deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(34) {
  --t: translateX(-60px) translateY(-720px) translateZ(-410px) rotateX(346deg) rotateY(365deg) rotateZ(261deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(35) {
  --t: translateX(-240px) translateY(-640px) translateZ(490px) rotateX(428deg) rotateY(679deg) rotateZ(652deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(36) {
  --t: translateX(-110px) translateY(-280px) translateZ(470px) rotateX(586deg) rotateY(225deg) rotateZ(471deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(37) {
  --t: translateX(-460px) translateY(-530px) translateZ(-170px) rotateX(599deg) rotateY(38deg) rotateZ(122deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(38) {
  --t: translateX(370px) translateY(-690px) translateZ(70px) rotateX(40deg) rotateY(282deg) rotateZ(622deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(39) {
  --t: translateX(470px) translateY(-400px) translateZ(-90px) rotateX(8deg) rotateY(315deg) rotateZ(45deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(40) {
  --t: translateX(-360px) translateY(-720px) translateZ(260px) rotateX(77deg) rotateY(439deg) rotateZ(281deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(41) {
  --t: translateX(-460px) translateY(-270px) translateZ(300px) rotateX(678deg) rotateY(21deg) rotateZ(551deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(42) {
  --t: translateX(20px) translateY(-450px) translateZ(160px) rotateX(127deg) rotateY(13deg) rotateZ(528deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(43) {
  --t: translateX(-30px) translateY(-360px) translateZ(400px) rotateX(199deg) rotateY(623deg) rotateZ(135deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(44) {
  --t: translateX(-170px) translateY(-590px) translateZ(-210px) rotateX(15deg) rotateY(129deg) rotateZ(403deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(45) {
  --t: translateX(-340px) translateY(-500px) translateZ(-440px) rotateX(263deg) rotateY(373deg) rotateZ(49deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(46) {
  --t: translateX(-130px) translateY(-470px) translateZ(100px) rotateX(292deg) rotateY(684deg) rotateZ(303deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(47) {
  --t: translateX(-270px) translateY(-450px) translateZ(-140px) rotateX(155deg) rotateY(555deg) rotateZ(419deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(48) {
  --t: translateX(-480px) translateY(-280px) translateZ(130px) rotateX(56deg) rotateY(83deg) rotateZ(367deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(49) {
  --t: translateX(-50px) translateY(-630px) translateZ(-110px) rotateX(161deg) rotateY(7deg) rotateZ(264deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(50) {
  --t: translateX(-110px) translateY(-350px) translateZ(320px) rotateX(210deg) rotateY(637deg) rotateZ(483deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(51) {
  --t: translateX(280px) translateY(-680px) translateZ(-10px) rotateX(367deg) rotateY(413deg) rotateZ(106deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(52) {
  --t: translateX(-250px) translateY(-620px) translateZ(200px) rotateX(259deg) rotateY(390deg) rotateZ(597deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(53) {
  --t: translateX(270px) translateY(-340px) translateZ(-230px) rotateX(134deg) rotateY(632deg) rotateZ(661deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(54) {
  --t: translateX(490px) translateY(-450px) translateZ(210px) rotateX(73deg) rotateY(2deg) rotateZ(48deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(55) {
  --t: translateX(350px) translateY(-450px) translateZ(390px) rotateX(159deg) rotateY(406deg) rotateZ(522deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(56) {
  --t: translateX(240px) translateY(-690px) translateZ(-310px) rotateX(512deg) rotateY(275deg) rotateZ(332deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(57) {
  --t: translateX(400px) translateY(-430px) translateZ(500px) rotateX(446deg) rotateY(491deg) rotateZ(150deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(58) {
  --t: translateX(-130px) translateY(-690px) translateZ(480px) rotateX(145deg) rotateY(190deg) rotateZ(619deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(59) {
  --t: translateX(200px) translateY(-260px) translateZ(-190px) rotateX(218deg) rotateY(431deg) rotateZ(92deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(60) {
  --t: translateX(-240px) translateY(-470px) translateZ(-460px) rotateX(488deg) rotateY(446deg) rotateZ(232deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(61) {
  --t: translateX(390px) translateY(-300px) translateZ(-360px) rotateX(570deg) rotateY(336deg) rotateZ(268deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(62) {
  --t: translateX(190px) translateY(-400px) translateZ(330px) rotateX(86deg) rotateY(544deg) rotateZ(340deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(63) {
  --t: translateX(160px) translateY(-400px) translateZ(210px) rotateX(683deg) rotateY(535deg) rotateZ(35deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(64) {
  --t: translateX(-260px) translateY(-650px) translateZ(-100px) rotateX(158deg) rotateY(22deg) rotateZ(349deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(65) {
  --t: translateX(330px) translateY(-560px) translateZ(-150px) rotateX(410deg) rotateY(170deg) rotateZ(402deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(66) {
  --t: translateX(-470px) translateY(-390px) translateZ(120px) rotateX(112deg) rotateY(283deg) rotateZ(608deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(67) {
  --t: translateX(370px) translateY(-700px) translateZ(-60px) rotateX(622deg) rotateY(413deg) rotateZ(395deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(68) {
  --t: translateX(-50px) translateY(-630px) translateZ(-250px) rotateX(329deg) rotateY(291deg) rotateZ(538deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(69) {
  --t: translateX(210px) translateY(-340px) translateZ(-170px) rotateX(488deg) rotateY(555deg) rotateZ(64deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(70) {
  --t: translateX(-230px) translateY(-250px) translateZ(-420px) rotateX(615deg) rotateY(5deg) rotateZ(172deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(71) {
  --t: translateX(-270px) translateY(-540px) translateZ(-110px) rotateX(469deg) rotateY(631deg) rotateZ(427deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(72) {
  --t: translateX(-390px) translateY(-540px) translateZ(270px) rotateX(699deg) rotateY(661deg) rotateZ(687deg) scale(0);
}

.fireworks:nth-child(3) > .year:nth-child(73) {
  --t: translateX(480px) translateY(-380px) translateZ(-380px) rotateX(302deg) rotateY(615deg) rotateZ(172deg) scale(0);
}

.fireworks > .year {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: yearTransform 5s infinite ease-out;
          animation: yearTransform 5s infinite ease-out;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}

@-webkit-keyframes yearTransform {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: var(--t);
            transform: var(--t);
  }
}

@keyframes yearTransform {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: var(--t);
            transform: var(--t);
  }
}

.city {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 0 0, 60px 75%, 20px 49%, 60px 50%, 50px 69%, 30px 25%, 60px 88%, 60px 37%, 60px 78%, 30px 99%, 50px 50%, 40px 18%, 30px 33%, 40px 89%, 20px 61%, 20px 72%, 30px 28%, 20px 85%, 50px 22%, 40px 55%, 60px 28%, 30px 45%, 40px 84%, 60px 34%, 40px 40%, 30px 33%, 30px 35%, 50px 13%, 60px 58%, 20px 12%, 30px 76%, 30px 50%, 60px 55%, 50px 100%, 60px 36%, 40px 99%, 20px 27%, 50px 33%, 20px 52%, 20px 46%, 30px 89%, 60px 36%, 40px 72%, 60px 29%, 30px 57%, 30px 96%, 60px 98%, 60px 29%, 50px 71%, 60px 19%;
  background-position: center, 0px bottom, 60px bottom, 80px bottom, 140px bottom, 190px bottom, 220px bottom, 280px bottom, 340px bottom, 400px bottom, 430px bottom, 480px bottom, 520px bottom, 550px bottom, 590px bottom, 610px bottom, 630px bottom, 660px bottom, 680px bottom, 730px bottom, 770px bottom, 830px bottom, 860px bottom, 900px bottom, 960px bottom, 1000px bottom, 1030px bottom, 1060px bottom, 1110px bottom, 1170px bottom, 1190px bottom, 1220px bottom, 1250px bottom, 1310px bottom, 1360px bottom, 1420px bottom, 1460px bottom, 1480px bottom, 1530px bottom, 1550px bottom, 1570px bottom, 1600px bottom, 1660px bottom, 1700px bottom, 1760px bottom, 1790px bottom, 1820px bottom, 1880px bottom, 1940px bottom, 1990px bottom;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102)), -webkit-gradient(linear, left top, left bottom, from(#000), to(#102));
  background-image: linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102), linear-gradient(#000, #102);
}
