@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
* {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: Raleway, sans-serif;
  color: #333;
}

.blackBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.blackBackground.open {
  background-color: rgba(0, 0, 0, 0.75);
}

#navBar {
  position: fixed;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 5em;
  max-width: 5em;
  height: 6em;
  max-height: 6em;
  -webkit-perspective: 100vh;
          perspective: 100vh;
}

#navBar.open {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 30em;
  max-width: 90vw;
  height: 90vh;
  max-height: 40em;
}

#navBar.open .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#navBar.open .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

#navBar .front {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#navBar .front .nav_line {
  display: block;
  width: 2em;
  height: 2px;
  background-color: #333;
}

#navBar .front .nav_line.inView {
  -webkit-transform: rotateY(180deg) scale(1.25, 2);
          transform: rotateY(180deg) scale(1.25, 2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#navBar .front .nav_line:nth-child(1).inView {
  background-color: #5e35b1;
}

#navBar .front .nav_line:nth-child(2).inView {
  background-color: #3949ab;
}

#navBar .front .nav_line:nth-child(3).inView {
  background-color: #1e88e5;
}

#navBar .front .nav_line:nth-child(4).inView {
  background-color: #039be5;
}

#navBar .front .nav_line:nth-child(5).inView {
  background-color: #00acc1;
}

#navBar .back {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#navBar .back .nav_link {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 2em;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
  border: 1px solid #fff;
}

#navBar .back .nav_link:hover {
  font-weight: bold;
}

#navBar .back .nav_link.inView {
  border: 1px solid #777;
}

#navBar .back .nav_link:nth-child(2) {
  color: #5e35b1;
}

#navBar .back .nav_link:nth-child(3) {
  color: #3949ab;
}

#navBar .back .nav_link:nth-child(4) {
  color: #1e88e5;
}

#navBar .back .nav_link:nth-child(5) {
  color: #039be5;
}

#navBar .back .nav_link:nth-child(6) {
  color: #00acc1;
}

#navBar .back .close {
  width: 3em;
  height: 3em;
  background: none;
  border: 2px solid red;
  cursor: pointer;
  color: red;
  font-weight: bold;
}

section {
  min-height: 100vh;
  padding: 6em 2em;
  border: solid #fff;
  border-width: 1px 0;
}

#section_a {
  background-color: #d1c4e9;
}

#section_b {
  background-color: #c5cae9;
}

#section_c {
  background-color: #bbdefb;
}

#section_d {
  background-color: #b3e5fc;
}

#section_e {
  background-color: #b2ebf2;
}

.content {
  width: 100%;
  max-width: 720px;
  text-align: left;
}
