* {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #313131;
}

.sliderMobil {
  width: 320px;
  height: 400px;
  background: url(../imgae/1.jpg);
  max-width: 100px auto;
  -webkit-animation: slide 20s;
          animation: slide 20s;
}
