.cardAnimation {
    width: 60%;
    border-radius: 20px;
    font-size: 1rem;
    align-self: end;
    margin-bottom: 2rem;
    // background: linear-gradient(130deg,#eb3fa9,#395ff6 50%,#eb3fa9);
    transition: all 1s ease-in-out;
    // animation: colors 3s infinite ease-in-out;
}
.cardAnimation:hover {
    transform: translateY(-20px);
}


/* media Querie */
@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 479px) {

}
/* Animation */
@keyframes colors {
    0%{
        background: linear-gradient(130deg,#eb3fa9,#395ff6 50%,#eb3fa9);
    }
    50%{
        background: linear-gradient(90deg, #7F41DB 0%, #022894 100%);
    }
    70%{
        background: linear-gradient(130deg,#022894  0%, #7F41DB 100%);
    }
    100%{
        background: linear-gradient(130deg,#eb3fa9,#395ff6 50%,#eb3fa9);
    }
}