footer {
    height: auto;
    margin-top: 41px;
    padding-top: 30px;
    border-top: 1px solid;

    .socialMedial {
        background-color: #0e1538;
        flex-direction: column;
    }

    .copyright {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .container-cube {
            @extend %AnimationContainerCube;

            .cube {
                &>div {
                    span {
                        background: linear-gradient(#151515, #00ec00)
                    }
                }

                .top {
                    @extend %topBlur;

                    &::before {
                        background: #0f0;
                        box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 500px rgba(0, 255, 0, 1),
                    }
                }
            }
        }

        .container-cube-violet {
            @extend %AnimationContainerCube;

            .cube {
                &>div {
                    span {
                        background: linear-gradient(#151515, #a500ec)
                    }
                }

                .top {
                    @extend %topBlur;

                    &::before {
                        background: #a400eb;
                        box-shadow: 0 0 120px rgba(164, 0, 235, 0.2), 0 0 200px rgba(164, 0, 235, 0.4), 0 0 300px rgba(164, 0, 235, 0.6), 0 0 400px rgba(164, 0, 235, 0.8), 0 0 500px #a400eb;
                    }
                }
            }
        }

        .footer-copyrightLogo {}
    }
}

@media (max-width: 960px) {
    .copyright {
        display: flex!important;
        justify-content: center!important;

        .container-cube-violet {
            display: none !important
        }

        .container-cube {
            display: none !important
        }
    }

}


// @media (max-width: 960px) {
//     footer {
//         height: auto;
//         margin-top: 41px;
//         padding-top: 30px;
//         border-top: 1px solid;

//         .socialMedial {
//             background-color: #0e1538;
//             flex-direction: column;
//         }

//         .copyright {

//             .container-cube {
//                 @extend %AnimationContainerCube;
//                 .cube {
//                     & > div { span {background: linear-gradient(#151515, #00ec00)}}
//                     .top {
//                         @extend %topBlur;
//                         &::before {
//                             background: #0f0;
//                             box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 500px rgba(0, 255, 0, 1),
//                         }
//                     }
//                 }
//             }
//             .container-cube-violet {
//                 @extend %AnimationContainerCube;
//                 .cube {
//                     & > div { span {background: linear-gradient(#151515, #a500ec)}}
//                     .top {
//                         @extend %topBlur;
//                         &::before {
//                             background: #a400eb;
//                             box-shadow: 0 0 120px rgba(164, 0, 235, 0.2), 0 0 200px rgba(164, 0, 235, 0.4), 0 0 300px rgba(164, 0, 235, 0.6), 0 0 400px rgba(164, 0, 235, 0.8), 0 0 500px #a400eb;
//                         }
//                     }
//                 }
//             }

//             .footer-copyrightLogo {

//             }
//         }
//     }

// }