// @font-face {
//   font-family: "font-1";
//   src: url(./assets/fonts/JosefinSans-ExtraLight.ttf);
// }
// @font-face {
//   font-family: "font-2";
//   src: url(./assets/fonts/JosefinSans-Regular.ttf);
// }
// @font-face {
//   font-family: "font-3";
//   src: url(./assets/fonts/JosefinSans-Bold.ttf);
// }

// $font-1: "font-1", sans-serif;
// $font-2: "font-2", serif;
// $font-3: "font-3", serif;

$color-1: #ff7b77;
$color-2: #ffd0c4;
$color-3: rgb(0, 22, 44);
$color-4: #fdeeee;
$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);

$blue: #287bff;
$white: #fff;
$grey: #f5f5f5;
$black1: #222;
$black2: #999;

// linear-gradient(309.81deg, rgb(194, 79, 182) 9.87%, rgb(63, 81, 184) 71.57%)

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::selection {
    background: $color-1;
  }
}
// 
html {
  height: 100%;
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}

button,
html input[type="button"],
input[type="reset"] {
  cursor: pointer;
}

.body {
  background-color: #0e1538;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  transform-style: preserve-3d;
}

.container-main {
  overflow: visible;
}

// Href 
// a,
// a:visited {
//   color: $color-3;
// }

// 
// article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,
// summary {
//     display: block;
// }


// 
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

