.sliderMobil {
    width: 320px;
    height: 400px;
    background: url('./imgae/12.jpg');
    max-width: 100px auto;
    animation: slideMobile 20s infinite;
}

@keyframes slideMobile {
    10% {
        background: url('./imgae/1.jpg');
    }
    20% {
        background: url('./imgae/2.jpg')
    }
    30% {
        background: url('./imgae/3.jpg')
    }
    37% {
        background: url('./imgae/4.jpg')
    }
    44% {
        background: url('./imgae/5.jpg')
    }
    51% {
        background: url('./imgae/12.jpg')
    }
    58% {
        background: url('./imgae/Logo.png')
    }
    65% {
        background: url('./imgae/Meta_pokemoon.png')
    }
    72% {
        background: url('./imgae/METAPOKEMOON_1.png')
    }
    79% {
        background: url('./imgae/METAPOKEMOON_2.png')
    }
    86% {
        background: url('./imgae/METAPOKEMOON_3.png')
    }
    93% {
        background: url('./imgae/METAPOKEMOON.jpg')
    }
    100% {
        background: url('./imgae/METAPOKEMOON.png')
    }
}


