%LinearCard {
    background: linear-gradient(130deg,#eb3fa9,#395ff6 50%,#eb3fa9);
    transition: all 1s ease-in-out;
    animation: colors 3s infinite ease-in-out;

    &:hover {
        transform: translateY(-20px);
    }
}

/* Animation */
@keyframes colors {
    0%{
        background: linear-gradient(130deg,#eb3fa9,#395ff6 50%,#eb3fa9);
    }
    50%{
        background: linear-gradient(90deg, #7F41DB 0%, #022894 100%);
    }
    70%{
        background: linear-gradient(130deg,#022894  0%, #7F41DB 100%);
    }
    100%{
        background: linear-gradient(130deg,#eb3fa9,#395ff6 50%,#eb3fa9);
    }
}


//------------------------(HoverColor )----------------------
%hoverTranslateColor {
    transition: all 0.6s;
    
    &:hover {
        transform: translateY(-20px) scale(1.1, 1.1);
        background-image: linear-gradient(
    145deg, #896b93, #0e0e43);
    }
}
