@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

.container-typing {
    font-family: 'IM Fell English', serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing {
    font-size: 48px;

    &::before {
        content: '';
        animation: text 15s step-end infinite;
    }

    @keyframes text {
        0% {
            content: '';
        }

        20% {
            content: 'Po';
        }

        22% {
            content: 'Pok';
        }

        24% {
            content: 'Poke';
        }

        26% {
            content: 'Pokem';
        }

        28% {
            content: 'Pokemo';
        }

        30% {
            content: 'Pokemoo';
        }

        32% {
            content: 'Pokemoon';
        }

        34% {
            content: 'Pokemoon ';
        }

        36% {
            content: 'Pokemoon t';
        }

        38% {
            content: 'Pokemoon th';
        }

        40% {
            content: 'Pokemoon the';
        }

        42% {
            content: 'Pokemoon the ';
        }

        44% {
            content: 'Pokemoon the w';
        }

        46% {
            content: 'Pokemoon the wo';
        }

        48% {
            content: 'Pokemoon the wor';
        }

        50% {
            content: 'Pokemoon the worl';
        }

        52% {
            content: 'Pokemoon the world.';
        }

        54% {
            content: 'Pokemoon the world ';
        }

        56% {
            content: 'Pokemoon the world o';
        }

        58% {
            content: 'Pokemoon the world of';
        }

        60% {
            content: 'Pokemoon the world of ';
        }

        62% {
            content: 'Pokemoon the world of t';
        }

        64% {
            content: 'Pokemoon the world of to';
        }

        68% {
            content: 'Pokemoon the world of tom';
        }

        70% {
            content: 'Pokemoon the world of tomo!';
        }

        72% {
            content: 'Pokemoon the world of tomor';
        }

        74% {
            content: 'Pokemoon the world of tomorr';
        }

        76% {
            content: 'Pokemoon the world of tomorro';
        }

        78% {
            content: 'Pokemoon the world of tomorrow';
        }

    }

    &::after {
        content: '';
        display: inline-block;
        width: 0.1em;
        height: 0.75em;
        margin-left: 0.1em;
        background-color: #fff;
        animation: blink 0.75s ease-in-out infinite;

        @keyframes blink {

            0%,
            25%,
            100% {
                opacity: 1;
            }

            50%,
            75% {
                opacity: 0;
            }
        }
    }
}